MIHOMO_URL=http://host.docker.internal:9090
MIHOMO_SECRET=
TRAFFIC_MONITOR_LISTEN=:9091
TRAFFIC_MONITOR_DB=/data/traffic_monitor.db
TRAFFIC_MONITOR_POLL_INTERVAL_MS=2000
TRAFFIC_MONITOR_RETENTION_DAYS=30
TRAFFIC_MONITOR_ALLOWED_ORIGIN=*
